  body {
    font-family: sans-serif;
    min-height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
    border-left: 5px solid #D3D3D3;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header, main, footer {
    padding: 1rem 0 2rem 2rem;
  }
  
  h1 {
    font-size: 4rem;
    font-weight: normal;
    color: #DF4339;
  }
  
  h2 {
    font-size: 2em;
    font-weight: normal;
  }
  
  .header-nav {
    margin-top: 1.5rem;
  }
  .header-nav ul {
    display: flex;
    justify-content: space-between;
  }
  .header-nav ul li {
    border-bottom: 1px solid #8F8F8F;
  }
  
  .header-nav ul li a {
    text-decoration: none;
    color: #8F8F8F;
  }
  
  time {
    color: darkgray;
    font-size: 1.6rem;
    font-weight: 200;
  }
  
  .blogpost-title {
    font-size: 3em;
    font-weight: 200;
    margin: 0.5rem 0;
  }
  
  img {
    width: 100%;
  }
  
  article {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #808080;
  }
  
  p {
    margin-top: 1rem;
    color: #808080;
    font-weight: 200;
  }
  
  p::first-letter {
    color: #808080;
    font-size: 6rem;
    margin-right: 1rem;
    float: left;
  }
  
  aside {
    text-align: right;
  }
  
  ul {
    list-style: none;
  }
  
  aside a {
    color: #DF4339;
    text-decoration: none;
    font-weight: bold;
  }
  
  p .header-nav ul li a {
    text-decoration: none;
    color: #909090;
  }
  
  footer nav ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .footer-nav ul li a {
    color: #DF443A;
    text-decoration: none;
  }
  
  footer span {
    color: #808080;
  }